@value t_grey, t_white, t_black, t_navy from '../../common/colors.css';

.tCont {
  margin: 2rem 0;
  width: 100%;
  font-size: 20px;
}

.sortTxt {
  margin-bottom: 10px;
  color: t_grey;
}

.table {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid rgba(115, 115, 114, 0.05);
}

.tHead {
  color: t_white;
  background: t_navy;
}

td {
  min-width: 70px;
  border: 2px solid rgba(115, 115, 114, 0.05);
}
