@value t_white, t_black, t_navy from '../../common/colors.css';

.tCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4rem;
  padding-top: 1.5rem;
  width: 100%;
  font-size: 20px;
  line-height: 3;
}

.table {
  text-align: center;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-style: hidden;
  width: calc(100% - 8rem);
  border-bottom: 2px solid rgba(115, 115, 114, 0.05);
}

.tHead {
  color: t_white;
  background: t_navy;
  border: none;
}

td {
  min-width: 70px;
  border: 2px solid rgba(115, 115, 114, 0.05);
}
