@value t_white, t_black, t_navy from '../../common/colors.css';

.tCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 4rem;
  padding-top: 1.5rem;
  width: 100%;
  font-size: 20px;
  line-height: 3;
}

.table {
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
  width: calc(100% - 8rem);
  border-bottom: 2px solid rgba(115, 115, 114, 0.05);
}

.tHead {
  color: t_white;
  background: t_navy;
  border: none;
}

td {
  min-width: 70px;
  border: 2px solid rgba(115, 115, 114, 0.05);
}

.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
}

.preBtn,
.nextBtn {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  color: t_white;
  background: t_navy;
  border-radius: 10px;
  cursor: pointer;
}
.preBtn:hover,
.nextBtn:hover {
  opacity: 0.8;
}

.disabledBtn {
  display: none;
}

.stateBar {
  padding: 0 1rem;
}
