@value sudolOrange, sudolWhite, skillsGrey from '../../common/colors.css';

@keyframes Slide {
  from {
    opacity: 0;
    bottom: 0%;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}

.skills {
  background-color: sudolOrange;
}

.cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.block {
  margin: 0 1rem 1rem;
  width: 30%;
  border-radius: 1rem;
  background-color: sudolWhite;
  box-shadow: 2px 3px 4px 2px rgba(38, 38, 38, 0.3);
}

.block_title {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.icon_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.icon_item {
  position: relative;
  line-height: 1.5;
}
.icon_item:hover .icon {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
.icon_item:hover .icon_info {
  display: inline-block;
  animation: Slide 0.5s;
}

.icon {
  margin: 0.5rem;
  width: 80px;
  height: 80px;
}

.icon_info {
  position: absolute;
  display: none;
  padding: 1rem;
  bottom: 100%;
  left: -60%;
  width: 250px;
  border-radius: 10px;
  text-align: left;
  background-color: skillsGrey;
}

.info_title {
  font-size: 1.2rem;
  color: rgba(13, 107, 165, 0.8);
  text-transform: uppercase;
}

.info_cont {
  margin: 1rem 0 0;
  color: sudolWhite;
}

@media (min-width: 1025px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}

.html {
  color: #fc490b;
}
.css {
  color: #2196f3;
}
.js {
  color: #ffdf00;
}
.jquery {
  color: #1169ae;
}
.react {
  color: #00d8ff;
}
.postcss {
  color: #dd3a0a;
}
.sass {
  color: #cc6699;
}
.spring {
  color: #5fb832;
}
.mariadb {
  color: #444b5e;
}
.vscode {
  color: #007acc;
}
.cert {
  color: #e95454;
}
