@valut t_grey from '../../common/colors.css';
.reviewCont {
  text-align: left;
  margin: 2rem 0;
}

.topMenu {
  display: flex;
  justify-content: left;
  align-items: center;
}

.pageBar {
  margin-left: 10px;
}

.sortTxt {
  margin-left: 10px;
  color: t_grey;
  opacity: 0.8;
}

.revSearch {
  display: flex;
}

.navCont {
  display: flex;
  margin: 0 1rem;
}

.stateBar {
  padding: 0 1rem;
}

.rTable {
  border-collapse: collapse;
  border-style: hidden;
  margin: 1rem auto;
  width: 100%;
  font-size: 20px;
  line-height: 3;
}

.sortTxt {
  color: t_grey;
}
