@value t_navy from '../../common/colors.css';
@value t_header from '../../common/sizes.css';

.mainPg {
  background-color: orange;
  height: calc(100vh - t_header);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.introCont {
  margin: 2rem 0;
  border: 1px solid red;
  width: 100%;
}
.introCont:before {
  content: "";
  filter: blur(20px);
}
