@value knitBlack, knitGray_light, knitGray, knitBlue_light, knitWhite from '../../common/colors.css';

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: knitWhite;
  font-weight: 600;
  padding: 10px;
  height: 150px;
  background: knitGray_light;
}

.infoItem {
  padding: 5px 0;
}

.menu {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.menuList {
  margin: 15px;
}

.menuTitle,
.menuItem {
  padding: 15px;
}

.menuTitle {
  color: knitWhite;
  font-weight: 600;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: knitBlack;
}

.menuItem {
  color: knitWhite;
  background: knitGray_light;
  cursor: pointer;
  border-bottom: 1px solid knitBlack;
}
.menuItem:hover {
  background: knitGray;
}
.menuItem:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}

@media (max-width: 768px) {
  .info {
    padding: 10px;
    height: 100px;
    background: knitGray_light;
  }
}
