@value knitBlueGray_dark, knitGray_dark, knitGray, knitGray_light, knitWhite, knitBlue from '../../common/colors.css';

a {
  color: knitWhite;
}
a:hover {
  color: knitBlue;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: knitWhite;
  font-weight: 600;
  padding: 10px;
  height: 150px;
  background: knitGray;
}

.infoItem {
  padding: 5px 0;
}

.menu {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.menuList {
  margin: 15px;
}

.menuTitle,
.menuItem {
  padding: 15px;
}

.menuTitle {
  color: knitWhite;
  font-weight: 600;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background: knitBlueGray_dark;
}

.menuItem {
  color: knitWhite;
  background: knitGray;
  cursor: pointer;
}
.menuItem:hover {
  background: knitGray_light;
}
.menuItem:last-child {
  border-radius: 0 0 10px 10px;
}
