@value t_grey, t_blue, t_navy, t_white, t_border_grey from '../../common/colors.css';

.login {
}

.loginCont {
  position: absolute;
  display: flex;
  padding: 5px;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 350px;
  border-radius: 1rem;
  background: t_blue;
  box-shadow: 5px 5px 10px 1px t_grey;
  transform: translate(-50%, -50%);
}

.leftCont {
  display: flex;
  flex: 1 1 45%;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px 20px;
  border-radius: 0.8rem;
  background: t_white;
}

.back_btn {
  background: none;
}

.icon {
  color: t_navy;
  font-size: 1.5rem;
}

.formCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login_btn {
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 600;
  background: t_blue;
}
.login_btn:hover {
  background: t_navy;
}

.logoCont {
  display: flex;
  flex: 1 1 35%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70%;
  height: auto;
  margin: 25px 0 2rem;
}

/* .login {
}

.back_btn,
.login span,
.login input {
  margin: 10px 0;
}

.login span {
  font-weight: 600;
  font-size: 1.2rem;
}

.login input {
  padding: 10px 0;
  font-size: 1.4rem !important;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
}

.loginCont {
  position: fixed;
  display: flex;
  padding: 5px;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 350px;
  border-radius: 1rem;
  background: t_blue;
  box-shadow: 5px 5px 10px 1px t_grey;
  transform: translate(-50%, -50%);
}

.leftCont {
  flex: 1 1 45%;
  padding: 10px 20px;
  border-radius: 0.8rem;
  background: t_white;
}

.icon {
  color: t_navy;
  font-size: 1.5rem;
}

.back_btn {
  padding-left: 0;
  background: none;
}
.back_btn:hover .icon {
  color: t_blue;
}

.emailCont {
  display: flex;
  align-items: center;
}

.email_input {
  flex: 4;
}

.login_btn {
  padding: 10px 0;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  background: t_blue;
}
.login_btn:hover {
  background: t_navy;
}

.logoCont {
  display: flex;
  flex: 1 1 35%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70%;
  height: auto;
  margin-bottom: 2rem;
} */
