@value t_white, t_grey, t_green, t_navy, t_blue, t_black from '../../common/colors.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.6);
}

.bgWhite {
  background: t_white;
}

.logo {
  width: 180px;
  height: 60px;
}

.nav {
  display: flex;
  padding: 0;
  gap: 10px;
}

.icon {
  margin-right: 10px;
}

.navItem:hover {
  transform: translate(0, -5px);
  transition: transform 0.5s;
}

.navItem:last-child .navCont {
  padding: 0 1rem;
}

.navCont,
.mState {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1.5rem;
}

.mState {
  color: t_navy;
}
.mState span {
  transform: translate(0, -3px);
}
.mState button {
  padding: 0;
  margin-left: 10px;
  background: none;
}
.mState button:hover .icon {
  color: t_grey;
  scale: 1.2;
  transition: all 0.3s;
}
.mState .icon {
  margin-right: 5px;
  font-size: 1.5rem;
  color: t_green;
}
.mState:hover {
  cursor: initial;
}
.navItem:hover .mState {
  transform: none !important;
}

.navCircle {
  position: absolute;
  display: inline-block;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: t_blue;
  transform: translate(50%);
  box-shadow: 0px 1px 1px 0px t_grey;
}
.loginBar {
  background: t_green;
}
.navItem:hover .navCircle {
  width: 65%;
  transform: translate(-50%, 5px);
  transition: width 0.5s;
}

.gone {
  display: none;
}

.notSearched {
  color: t_grey;
  cursor: default;
}
.notSearched:hover {
  transform: none !important;
}

.bar {
  display: inline-block;
  margin: -1rem 0 0;
  width: 1px;
  height: 15px;
  background: t_grey;
  transform: translate(0, 19px);
}

.hamburger {
  display: none;
  padding: 0;
  cursor: pointer;
}

.hamBar {
  margin: 5px 0;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: t_black;
}
.hamburger:hover .hamBar:first-child {
  transform: rotate(45deg) translateY(7px);
  transition: transform 1s;
}
.hamburger:hover .hamBar:nth-child(2) {
  display: none;
}
.hamburger:hover .hamBar:last-child {
  transform: rotate(-45deg) translateY(-7px);
  transition: transform 1s;
}

@media (width < 900px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (width < 1024px) {
  .header {
    font-size: 1rem;
  }

  .logo {
    width: 120px;
    height: 40px;
  }
}

@media (1024px <= width) {
  .nav {
    display: flex;
  }
  .hamburger {
    display: none;
  }
}
