@value makerShadow, makerBlack, makerWhite, makerColorful, makerWheat from '../../common/colors.css';

.card {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    padding: 0.2em 0;
    width: 100%;
    max-width: 30rem;
    border-radius: 1em;
    box-shadow: 6px 6px 8px 0px makerShadow;
    background-color: yellow;
}

.card.dark {
    color: makerWhite;
    background-color: makerBlack;
}

.card.light {
    color: makerBlack;
    background-color: makerWhite;
}

.card.colorful {
    background: makerColorful;
}

.avatar {
    margin: 0 0.5em 0 1em;
    padding: 1em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
}

.info {
    width: 100%;
}

.name, 
.company, 
.title, 
.email, 
.message {
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}

.name {
    font-size: 1.2rem;
}

.company {
    margin-bottom: 1em;
}

.company::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: makerWheat;
    transform: translateY(0.5em);
}
