@value t_black, t_blue from '../../common/colors.css';
@value t_minHeight, pg_padding from '../../common/sizes.css';

.userJoin {
  padding: pg_padding;
  height: t_minHeight;
  overflow: auto;
  color: t_black;
  font-size: 1.4rem;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 600;
}

.colonIcon {
  color: t_blue;
  font-size: 3rem;
}
