@value knitYellow_light2 from '../../common/colors.css';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo {
  width: 40px;
}

span {
  margin: 0 10px;
}

.icon {
  font-size: 1.5rem;
}

.navbar,
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  flex: 2.5 1 0;
}

.logo {
  margin-left: 10px;
}

.cont {
  flex: 7.5 1 0;
}

.title {
  font-weight: 600;
}

.noUse {
  background: knitYellow_light2;
  cursor: default;
}
.noUse:hover {
  background: knitYellow_light2;
}
