@value t_blue, t_white, t_navy, t_grey from '../../common/colors.css';
@value t_minHeight, pg_padding from '../../common/sizes.css';

.factorySearch {
  padding: pg_padding;
  height: t_minHeight;
  overflow: auto;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.resetCont {
  display: flex;
  border-radius: 50%;
}

.resetIcon {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  color: t_white;
  border-radius: 50%;
  background: t_blue;
  box-shadow: 3px 3px 4px 0px t_grey;
}
.resetIcon:hover {
  background: t_navy;
}
