@value knitGray_light, knitWhite from '../../common/colors.css';
.contents {
  margin: 1.5rem 10vh 1rem;
  font-size: 1.5rem;
  text-align: left;
}

.video {
  width: 100%;
}

.videoTitle {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.info {
  border-bottom: 1px solid knitGray_light;
}

.channelLink {
  color: knitWhite;
}

.info_cont {
  font-family: inherit;
  word-break: keep-all;
}

@media (max-width: 1024px) {
  .contents {
    margin: 1.5rem 7vh 1rem;
    font-size: 1.2rem;
  }

  .videoTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .contents {
    margin: 1rem 5vh 0.7rem;
    font-size: 1.2rem;
  }

  .info_cont {
  }
}
