@value knitBrown, knitGray from '../../common/colors.css';
.Contents {
  margin: 1rem 10vh;
  font-size: 1.5rem;
  text-align: left;
}

.title {
  font-weight: 600;
  text-align: center;
}

.video {
  width: 100%;
}

.info {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 0.5;
  border-bottom: 1px solid knitBrown;
}

.channelLink {
  color: knitGray;
}

.info_cont {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.2;
}
