@value t_blue, t_white, t_grey from '../../common/colors.css';

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resetCont {
  display: flex;
  border-radius: 50%;
  box-shadow: 3px 3px 4px 0px t_grey;
}

.resetIcon {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  color: t_white;
  border-radius: 50%;
  background: t_blue;
}
.resetIcon:hover {
  animation: rotate 5s linear infinite;
  transform-origin: 50% 50%;
  cursor: pointer;
}
