@value t_blue, t_grey, t_shadow_grey from '../../common/colors.css';

/**/
.search {
  display: flex;
  margin: 1rem;
  width: 60%;
  gap: 10px;
}

.search * {
  z-index: 2;
}

.sigunSel,
.searchBar {
  display: flex;
  height: 4rem;
}

.sigunSel {
  flex: 2 1;
}

.searchBar {
  flex: 8 1;
  box-shadow: 3px 3px 4px 0px t_grey;
  border-radius: 2rem;
}

.schInput {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 2rem 0 0 2rem;
}

.schBtn {
  width: 4.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background: t_blue;
}
