@value t_blue, t_grey, t_shadow_grey, t_black from '../../common/colors.css';

@keyframes onSlide {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

.search {
  display: flex;
  margin: 1rem;
  width: 60%;
  gap: 10px;
}

.search * {
  z-index: 2;
}

.schSelect,
.searchBar {
  display: flex;
  height: 4rem;
}

.schSelect {
  font-size: 1.2rem;
  flex: 2 1;
}

.selectBtn {
  padding: 0 1rem;
  font-size: inherit;
}

.selectBtn,
.schOption {
  box-shadow: 3px 3px 4px 0px t_grey;
  border-radius: 2rem;
}

.schSelect {
  position: relative;
  flex: 2 1;
}

.schOption {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  height: 200px;
  font-weight: 400;
  border-radius: 10px;
  background: #fff;
  overflow-y: auto;
  animation: onSlide 1s;
}

.schOption_item {
  padding: 10px;
}
.schOption_item:hover {
  color: white;
  cursor: pointer;
  opacity: 0.7;
  background: t_grey;
}

.selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  color: t_black;
  border: none;
  background: #fff;
}

.searchBar {
  flex: 8 1;
  box-shadow: 3px 3px 4px 0px t_grey;
  border-radius: 2rem;
}

.schInput {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 2rem 0 0 2rem;
}

.schBtn {
  width: 4.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background: t_blue;
}

.gone {
  display: none;
}
