@value t_navy, t_blue, t_grey, t_border_grey, t_red, t_blue_background from '../../common/colors.css';

.modifyPg {
  padding-bottom: 2rem;
}

.modifyPg input {
  margin: 10px 0 15px;
  padding: 10px;
  color: t_black;
  font-size: 1.4rem !important;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
  background: t_blue_background;
}

.modifyPg label {
  font-size: 1.2rem;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.colonIcon {
  color: t_blue;
  font-size: 3rem;
}

.formItem {
  padding-right: 20px !important;
}

.uTel {
  flex: 1 40%;
  font-size: 1.4rem;
}

.uTel:first-child {
  margin-bottom: 5px;
}

.select {
  padding: 1px 0;
  border: 5px solid t_blue_background;
  border-radius: 1rem;
}

.phoneNum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.loginedAgree {
  display: block;
  line-height: 1.5;
}

.withDrawBtn {
  margin-top: 1rem;
  font-size: 1.2rem;
  background: t_grey;
}
.withDrawBtn:hover {
  background: t_red;
}

.modifyBtn {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  background: t_blue;
}
.modifyBtn:hover {
  background: t_navy;
}
