@value makerGreen, makerWhite, makerBlack from '../../common/colors.css';

.header {
    position: relative;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    background-color: makerGreen;
}

.logo {
    width: 3em;
}

.title {
    margin: 0;
    color: makerWhite;
}

.logout {
    position: absolute;
    padding: 0.8em;
    top: 1em;
    right: 3em;
    color: makerWhite;
    border: 0;
    border-radius: 20%;
    background-color: makerBlack;
    cursor: pointer;
}
