@value t_blue from "../../common/colors.css";
@value t_minHeight, pg_padding from '../../common/sizes.css';

.reviewEdit {
  padding: pg_padding;
  height: t_minHeight;
  font-size: 2rem;
  overflow: auto;
}
