@value t_blue, t_white, t_grey from '../../common/colors.css';

@keyframes onSlide {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

.search {
  display: flex;
  margin: 1rem 0 2rem;
  width: 60%;
  gap: 10px;
  border: 1px solid green;
}

.selectBtn,
.schInput {
  font-size: 1.2rem;
}

.selectBtn,
.searchBar,
.schOption {
  box-shadow: 3px 3px 4px 0px t_grey;
  border-radius: 2rem;
}

.schSelect {
  position: relative;
  flex: 2 1;
  border: 1px solid red;
}

.schOption {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: #fff;
  overflow-y: auto;
  animation: onSlide 1s;
}

.schOption_item {
  padding: 10px;
}
.schOption_item:hover {
  color: white;
  cursor: pointer;
  opacity: 0.7;
  background: t_grey;
}

.selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  background: #fff;
}

.searchBar {
  display: flex;
  flex: 8 1;
  height: 4rem;
}

.schInput {
  padding: 0 1rem;
  width: 100%;
  border-radius: 2rem 0 0 2rem;
}

.schBtn {
  width: 4.5rem;
  color: t_white;
  font-size: 1.5rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background: t_blue;
  cursor: pointer;
}

.gone {
  display: none;
  animation: onSlide 1s reverse !important;
}
