@value sudolWhite, sudolOrange, sudolBlue, sudolDarkGrey,borderGrey from '../../../common/colors.css';

.project {
  padding: 1rem 3rem 2rem;
  border-radius: 10px;
  background-color: sudolWhite;
  box-shadow: 2px 3px 4px 2px rgba(38, 38, 38, 0.3);
}

.title {
  margin: 1rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.link_wrap {
  padding-bottom: 10px;
  font-size: 1.3rem;
  text-align: left;
  border-bottom: 1px solid borderGrey;
}

.link {
  margin-left: 10px;
}

.cont {
  display: flex;
}

.img {
  width: 80vh;
}

.projectTxt {
  margin-left: 2rem;
  min-width: 40vh;
  font-size: 1.5rem;
  text-align: left;
}

.link {
  color: sudolDarkGrey;
}
.link:hover {
  color: sudolOrange;
}

@media (min-width: 1025px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
}
