@value t_blue, t_grey, t_white from '../../common/colors.css';

.search {
  display: flex;
  margin: 1rem;
  width: 60%;
  gap: 10px;
}

.search * {
  z-index: 2;
}

.searchBar {
  display: flex;
  height: 4rem;
}

.selectForm {
  display: flex;
  flex: 2 1;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 2rem;
  box-shadow: 3px 3px 4px 0px t_grey;
  background: t_white;
}

.select {
  width: 100%;
  font-size: 1.2rem;
}

.searchBar {
  flex: 8 1;
  box-shadow: 3px 3px 4px 0px t_grey;
  border-radius: 2rem;
}

.schInput {
  padding: 0 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 2rem 0 0 2rem;
}
 
.schBtn {
  width: 4.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0 2rem 2rem 0;
  background: t_blue;
}

.gone {
  display: none;
}
