@value sudolWhite: #f0f0f2;

@value sudolGreen: #a5cf44;

@value sudolYellow: #f2af5c;

@value sudolOrange: #f29f05;

@value sudolDarkOrange: #f28907;

@value sudolBlue: #0d6ba6;

@value sudolDarkBlue: #023859;

@value titleGrey: #262626;

@value sudolDarkGrey: #1d1d1d;

@value headerGrey: rgba(38, 38, 38, 1);

@value headerGrey_fixed: rgba(38, 38, 38, 0.7);

@value borderGrey: rgba(38, 38, 38, 0.3);
