@value t_navy, t_blue, t_border_grey, t_black, t_blue_background from '../../common/colors.css';

.user_input_form label {
  font-size: 1.3rem;
  font-weight: 600;
}

.formItem {
  margin: 1.5rem 0;
}

.inputForm input,
.select {
  padding: 10px;
  width: 100%;
  color: t_black;
  font-size: 1.4rem;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
  background: t_blue_background;
}

.inputForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10px;
  gap: 10px;
}

.emailCont,
.telCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.chkAgreeCont {
  display: grid;
  text-align: center;
  gap: 1rem;
}

.chkAgreeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.chkAgree {
  width: 17px;
  height: 17px;
}

.join_btn {
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
  background: t_blue;
}
.joinBtn:hover {
  background: t_navy;
}
