@value makerGreen, makerLightPink, makerWhite from '../../common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
  text-align: center;
  background-color: makerWhite;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  list-style: none;
}

.item {
  margin-bottom: 0.5em;
}

.button {
  width: 100%;
  height: 2.5em;
  font-size: 1.2rem;
  border: 0.2rem solid makerGreen;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
}

.button:hover {
  background-color: makerLightPink;
}
