@value t_green, t_green_dark, t_blue, t_blue_dark from "../../common/colors.css";

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.selectEmail {
  position: relative;
}

.emailKindCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 3;
}

.emailKindInput {
  padding-left: 10px !important;
  flex: 9;
  height: 80%;
  background: #fff !important;
}

.emailKindBtn,
.emailKindChked {
  flex: 1;
  padding: 5px;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  z-index: 3;
}

.emailKindBtn {
  background: t_blue !important;
}
.emailKindBtn:hover {
  background: t_blue_dark !important;
}

.emailKindChked {
  background: t_green !important;
}
.emailKindChked:hover {
  background: t_green_dark !important;
}

.icon {
  color: t_blue;
}
