@value t_grey, t_navy, t_black, t_shadow_grey, t_border_grey from "../../common/colors.css";

.review_form {
  margin: 2rem 0 5rem;
  padding: 1rem 1.5rem;
  background: #fff;
  box-shadow: 1px 1px 10px 1px t_shadow_grey;
  border-radius: 2rem;
}

.factory_name {
  padding: 20px 0;
  color: t_navy;
  font-weight: 800;
}

.input_cont {
  display: flex;
  flex-direction: column;
  border-top: 1px solid t_grey;
  border-bottom: 1px solid t_grey;
}

.input_item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
  color: grey;
  border-bottom: 2px solid t_border_grey;
}

.mId,
.rDate {
  color: t_black;
}

.review_textarea {
  margin-top: 10px;
}
