@value t_green, t_navy, t_blue_light, t_white from '../../common/colors.css';

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: t_navy;
}

.spinner * {
  position: absolute;
  top: 50%;
  left: 50%;
  color: t_white;
  transform: translate(-50%, -50%);
}

.spCircle {
  width: 150px;
  height: 150px;
  border: 5px solid t_white;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}
.spCircle::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 30px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: t_green;
}
.spCircle::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: t_blue_light;
}

.spText {
  font-size: 2rem;
  font-weight: 600;
}
