@value sudolWhite, sudolBlue, borderGrey from '../../common/colors.css';

.projects {
  background-color: sudolBlue;
  padding-bottom: 1rem;
}

.title .sub {
  margin: 0;
  font-size: 1.5rem;
}

.cont {
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
  padding: 1rem 0;
  overflow-x: hidden;
}

.arrow {
  font-size: 5rem;
  color: sudolWhite;
  cursor: pointer;
}
.arrow:hover {
  color: borderGrey;
}

.prev {
  position: fixed;
  top: 50%;
  left: 1rem;
  color: borderGrey;
  transform: translateY(-100%);
}

.next {
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-100%);
}

.circles {
  margin: 5px;
  color: sudolWhite;
}
