@value sudolWhite, sudolBlue, borderGrey from '../../common/colors.css';

.projects {
  background-color: sudolBlue;
  padding-bottom: 1rem;
}

.title .sub {
  margin: 0;
  font-size: 1.5rem;
}

.cont {
  padding: 1rem 0;
  overflow-x: hidden;
}

.move_btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 3;
}

.move_btn:first-child {
  position: fixed;
  top: 40%;
  left: 10px;
}
.move_btn:last-child {
  position: fixed;
  top: 40%;
  right: 10px;
}

.arrow {
  color: sudolWhite;
  font-size: 5rem;
}
.arrow:hover {
  color: borderGrey;
}

.arrow_disabled {
  color: borderGrey;
  cursor: default;
}

.projectList {
  display: flex;
  transition: transform 0.5s;
}

.project {
  width: 100vw;
  padding: 1rem 6rem;
  transform: translateX(-8px);
}
