@value sudolWhite, sudolBlue, borderGrey from '../../common/colors.css';

.projects {
  background-color: sudolBlue;
  padding-bottom: 1rem;
}

.title .sub {
  margin: 0;
  font-size: 1.5rem;
}

.cont {
  padding: 1rem 0;
  overflow-x: hidden;
}

.arrow {
  font-size: 5rem;
  color: sudolWhite;
  cursor: pointer;
}
.arrow:hover {
  color: borderGrey;
}

.prev,
.next {
  position: fixed;
  top: 50%;
  transform: translateY(-100%);
}
.prev {
  left: 1rem;
}
.next {
  right: 1rem;
}

.proList {
  display: flex;
  align-items: center;
}

.project {
  padding: 0 7rem 0 6rem;
}

.hoverArrow {
  color: borderGrey;
  cursor: default;
}

.circles {
  margin: 5px;
  color: sudolWhite;
}

@media (min-width: 1025px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (max-width: 767px) {
  .project {
    padding: 0 2.5rem 0 1rem;
  }

  .arrow {
    color: sudolBlue;
  }

  .hoverArrow {
    color: borderGrey;
    cursor: default;
  }
}

@media (max-width: 500px) {
  .project {
    padding: 0;
  }

  .prev {
    left: -1rem;
  }
  .next {
    right: -1rem;
  }
}
