@value t_blue, t_navy, t_grey, t_shadow_grey from '../../common/colors.css';
@value t_minHeight, pg_padding from '../../common/sizes.css';

.reviewWrite {
  padding: pg_padding;
  height: t_minHeight;
  font-size: 2rem;
  overflow: auto;
}
