@value t_blue, t_navy, t_grey, t_shadow_grey from '../../common/colors.css';
@value t_minHeight, pg_padding from '../../common/sizes.css';

.reviewWrite {
  padding: pg_padding;
  height: t_minHeight;
  font-size: 2rem;
  overflow: auto;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.tSigun {
  color: t_blue;
}

.subIcon {
  color: t_blue;
  font-size: 3rem;
}
