@value t_blue, t_black, t_blue_light, t_navy, t_border_grey, t_grey, t_shadow_grey from '../../common/colors.css';

.writeReview {
  font-size: 2rem;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.tSigun {
  color: t_blue;
}

.subIcon {
  color: t_blue;
  font-size: 3rem;
}

.formLine {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0;
  color: grey;
  border-bottom: 2px solid t_border_grey;
}
.formLine:first-child {
  padding-top: 10px;
}

input,
.fName,
.mId,
.rDate,
textarea {
  width: 100%;
  color: t_black;
  font-size: 2rem;
}

.icon {
  font-size: 2rem;
}

.writeForm {
  margin: 2rem 0 5rem;
  padding: 1rem 1.5rem;
  background: white;
  /* border: 1px solid orange; */
  box-shadow: 1px 1px 10px 1px t_shadow_grey;
  border-radius: 2rem;
}

.fName {
  padding: 20px 0;
  color: t_navy;
  font-weight: 800;
  border-bottom: 1px solid t_grey;
}

.rTitle {
}

.mId {
}

.rDate {
}

.rCont {
  padding-top: 1rem;
  resize: none;
  border-bottom: 1px solid t_grey;
}

.btnLine {
  display: flex;
  justify-content: right;
  align-items: center;
}

.writeBtn {
  color: t_blue;
  font-size: 2rem;
  font-weight: 600;
  background: none;
}

.writeBtn:hover {
  color: t_blue_light;
  transform: translateX(-5px);
  transition: all 1s;
}

.btnNext:nth-child(2) {
  display: none;
  opacity: 0.7;
}
.btnNext:nth-child(3) {
  display: none;
  opacity: 0.4;
}

.writeBtn:hover .btnNext:nth-child(2),
.writeBtn:hover .btnNext:nth-child(3) {
  display: inline-block;
  transition: all 1s;
}
