@value t_blue, t_black, t_white from './common/colors.css';
@value t_minWidth from './common/sizes.css';

html,
body {
  margin: 0;
  padding: 0;
  min-width: t_minWidth;
  font-size: 16px;
  color: t_black;
  background: t_white;
}

.app {
}

.mainPg,
.searchPg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.header {
  width: 100%;
  min-width: t_minWidth;
  height: 87px;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

@media (width < 768px) {
  .header {
    height: 74px;
  }
  .container {
    top: 74px;
  }
}
