@value t_blue, t_black, t_white from './common/colors.css';
@value t_minWidth, t_minHeight from './common/sizes.css';

html,
body {
  margin: 0;
  padding: 0;
  min-width: t_minWidth;
  font-size: 16px;
  color: t_black;
  background: t_white;
  word-break: keep-all;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: t_minWidth;
  z-index: 3;
}

.container {
}

/*
.factory,
.factory_main,
.factory_search,
.user,
.user_login,
.user_join,
.user_edit,
.review,
.review_list,
.review_write,
.review_edit 
*/
