@value t_blue, t_black, t_white from './common/colors.css';
@value t_minWidth from './common/sizes.css';

html,
body {
  margin: 0;
  padding: 0;
  min-width: t_minWidth;
  font-size: 16px;
  color: t_black;
  background: t_white;
  overflow: auto;
}

.app {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: t_minWidth;
  height: 87px;
}

.container {
  position: fixed;
  top: 87px;
  left: 0;
  width: 100%;
  overflow: auto;
}

@media (width < 768px) {
  .header {
    height: 74px;
  }
  .container {
    top: 74px;
  }
}
