@value t_blue, t_black, t_white from './common/colors.css';
@value t_minWidth, t_header from './common/sizes.css';

html,
body {
  margin: 0;
  padding: 0;
  min-width: t_minWidth;
  font-size: 16px;
  color: t_black;
  background: t_white;
  word-break: keep-all;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainPg,
.searchPg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.header {
  width: 100%;
  min-width: t_minWidth;
  height: t_header;
}

.container {
  width: 100%;
  overflow-x: hidden;
}

@media (width < 768px) {
  .header {
    height: calc(t_header - 20px);
  }
  .container {
    top: 72px;
  }
}
