@value knitBrown, knitGray_shadow from '../../common/colors.css';

.VideoItem {
  width: 50%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.video {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px knitGray_shadow;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.videoTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
