@value t_navy, t_blue, t_blue_dark, t_red, t_blue_background, t_black, t_border_grey, t_grey from '../../common/colors.css';

.joinPg input {
  margin: 10px 0 15px;
  padding: 10px;
  color: t_black;
  font-size: 1.4rem !important;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
  background: t_blue_background;
}

.joinPg label {
  font-size: 1.2rem;
  font-weight: 600;
}

.joinPg {
  padding-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.colonIcon {
  color: t_blue;
  font-size: 3rem;
}

.emailCont {
  display: flex;
  align-items: center;
}

.emailInput,
.select {
  flex: 1 40%;
}

.phoneNum {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputFileCont,
.uploadCont,
.profileCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: t_grey;
}

.profileImg {
  display: none;
}

.inputFileCont {
  width: 100%;
  height: 100%;
  border: 5px solid t_border_grey;
  border-radius: 1rem;
}

.btnUpload {
  margin-bottom: 10px;
  padding: 1.5rem;
  border: 5px solid t_border_grey;
  border-radius: 50%;
  cursor: pointer;
}
.btnUpload:hover {
  padding: 2rem;
  border: 5px solid t_blue;
  transition: all 1s;
}

.uploadImg {
}

.formCont {
}

.formItem {
  padding-right: 20px !important;
}

.chkAgreeCont {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem !important;
}

.chkAgreeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}
.chkAgree {
  width: 20px;
  height: 20px;
}
.chkAgreeItem > label {
  margin-left: 10px;
}

.joinBtn {
  width: 100%;
  font-size: 1.5rem;
  background: t_blue;
}
.joinBtn:hover {
  background: t_navy;
}
