@value t_navy, t_blue, t_white, t_blue_dark, t_red, t_blue_background, t_black, t_border_grey, t_grey from '../../common/colors.css';

.joinPg input {
  margin: 10px 0 15px;
  padding: 10px;
  color: t_black;
  font-size: 1.4rem !important;
  border: 1px solid t_border_grey;
  border-radius: 1rem;
  background: t_blue_background;
}

.joinPg label {
  font-size: 1.2rem;
  font-weight: 600;
}

.joinPg {
  padding-bottom: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.colonIcon {
  color: t_blue;
  font-size: 3rem;
}

.emailCont {
  display: flex;
  align-items: center;
}

.emailInput,
.uTel {
  flex: 1 40%;
  font-size: 1.4rem;
}

.uTel:first-child {
  margin-bottom: 5px;
}

.select {
  padding: 1px 0;
  border: 5px solid t_blue_background;
  border-radius: 1rem;
}

.phoneNum {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.uploadCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: t_grey;
}

.formItem {
  padding-right: 20px !important;
}

.loginedAgree {
  display: block;
  margin-top: 1rem;
  line-height: 1.5;
}

.chkAgreeCont {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem !important;
}

.chkAgreeItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}
.chkAgree {
  width: 20px;
  height: 20px;
}
.chkAgreeItem > label {
  margin-left: 10px;
}

.joinBtn {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  background: t_blue;
}
.joinBtn:hover {
  background: t_navy;
}
