@value t_black, t_grey from '../../common/colors.css';

@keyframes onSlide {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

.select {
  position: relative;
  color: t_black !important;
  font-size: 1.2rem;
  z-index: 2;
}

.select * {
  background: #fff;
}

.select_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 4rem;
  color: t_black;
  box-shadow: 3px 3px 4px 0px t_grey;
}

.icon {
  font-size: 1.5rem;
}

.list_cont {
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  overflow-y: auto;
  animation: onSlide 1s;
}

.list_item {
  padding: 10px;
}
.list_item:hover {
  color: #fff;
  cursor: pointer;
  opacity: 0.7;
  background: t_grey;
}

.gone {
  display: none;
}
