@value t_grey, t_black, t_white from '../../common/colors.css';

@keyframes onSlide {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

.select * {
  z-index: 2;
  width: 100%;
}

.select {
  position: relative;
  display: flex;
  height: 4rem;
  font-size: 1.2rem;
}

.selectBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-size: inherit;
  font-weight: 400;
  border-radius: 2rem;
  color: t_black;
  border: none;
  background: #fff;
}

.icon {
  display: flex;
  align-items: center;
  width: 15%;
  font-size: inherit;
}

.ulCont {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  height: 200px;
  font-weight: 400;
  border-radius: 10px;
  background: #fff;
  overflow-y: auto;
  animation: onSlide 1s;
}

.liItem {
  padding: 10px;
}
.liItem:hover {
  color: white;
  cursor: pointer;
  opacity: 0.7;
  background: t_grey;
}

.gone {
  display: none;
}
