@value t_navy, t_grey from '../../common/colors.css';

.revSchPg,
.rSchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rSchInput,
.rSchBtn {
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: 3px 3px 4px 0px t_grey;
}

.rSchInput {
  border-radius: 1rem 0 0 1rem;
}

.rSchBtn {
  padding: 12px;
  border-radius: 0 1rem 1rem 0;
  background: t_navy;
}
