@value knitRed, knitBrown, knitWhite from '../../common/colors.css';

.comments {
  text-align: left;
}

.titleBox {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: knitBrown;
}

.icon,
.title {
  color: knitWhite;
  font-size: 1rem;
}

.icon {
  margin-right: 10px;
}

.inputForm {
  display: flex;
  margin-top: 20px;
}

.inputCm {
  flex: 9 1 0;
  padding: 10px 0;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid knitBrown;
  background: knitWhite;
}

.submit {
  flex: 1 1 0;
  margin-right: 0;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
}

.cmtsItem {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid knitBrown;
  box-shadow: 1px 2px 5px 1px rgb(38 38 38 / 30%);
}

.cmtIcon {
  flex: 0.5 1 0;
  color: knitBrown;
  font-size: 1.2rem;
}

.cmtsTxt {
  flex: 9 1 0;
}

.heartIcon {
  flex: 0.5 1 0;
  color: knitRed;
  font-size: 1.5rem;
  opacity: 0.2;
  cursor: pointer;
}
.heartIcon:hover {
  opacity: 1;
}

.deleteIcon {
}
.deleteIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}
