@value knitBlue, knitGray_light from '../../common/colors.css';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.moreBtn {
  padding: 10px 15px;
  font-size: 0.8rem;
  border-radius: 30px;
}

.moreIcon {
  margin-left: 10px;
  font-size: 1.5rem;
}

.loading {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 10px solid knitGray_light;
  border-top: 10px solid knitBlue;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.noUse {
  display: none;
}

.videoList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.videoItem {
  width: calc(50% - 0.5rem);
}
.videoItem:nth-child(odd) {
  margin-right: 1rem;
}
