/* .video {
    display: flex;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 10px;
    width: 50%;
    border: 2px solid #efefef;
    border-radius: 3px;
    box-shadow: 3px 3px 5px #dbdbdb;
    cursor: pointer;
}

.video_img {
    height: 150px;
}

.video_info {
    padding: 0 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #262626;
}

.video_info_title {
    font-size: 1rem;
}

.video_info_singer {
    font-size: 0.9rem;
    opacity: 0.7;
}
 */
