@value t_white, t_grey, t_green from '../../../common/colors.css';

.onBsnState,
.offBsnState {
  color: t_white;
  padding: 5px 10px;
  border-radius: 10px;
}

.onBsnState {
  background: t_green;
}

.offBsnState {
  background: t_grey;
}
