@value knitYellow, knitYellow_light1, knitYellow_light2, knitGray from './common/colors.css';
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  -webkit-padding-start: 0px;
}

button {
  font-family: "HallymGothic-Regular";
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-width: 360px;
  /* overflow: hidden; */
}

body {
  font-family: "HallymGothic-Regular";
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  color: knitGray;
  word-break: keep-all;
}

.app {
}

.header {
  background: knitYellow;
}

.cont {
  display: flex;
  flex-direction: row;
}

.navbar {
  flex: 2.5 1 0;
  background: knitYellow_light2;
}

.contents {
  flex: 7.5 1 0;
  height: calc(100vh - 50px);
  overflow-y: auto;
  background: knitYellow_light1;
}
