@value t_grey, t_border_grey, t_white, t_blue, t_navy  from '../../common/colors.css';

.inputFileCont,
.profileCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: t_grey;
}

.profileImg {
  display: none;
  object-fit: cover;
}

.inputFileCont {
  width: 100%;
  height: 100%;
  border: 5px solid t_border_grey;
  border-radius: 1rem;
}

.btnUpload {
  margin-bottom: 10px;
  padding: 1.5rem;
  border: 5px solid t_border_grey;
  border-radius: 50%;
  cursor: pointer;
}
.btnUpload:hover {
  padding: 2rem;
  border: 5px solid t_blue;
  transition: all 1s;
}

.resetImg {
  display: none;
  margin-left: 10px;
  width: 10%;
  height: 100%;
  color: t_white;
  font-size: 1.5rem;
  border-radius: 10px;
  background: t_blue;
  cursor: pointer;
}
.resetImg:hover {
  background: t_navy;
}
